<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Water Cooler News</title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/popper.js/dist/umd/popper.js"></script>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>